.navbar-logo {
  width: 120px; /* Adjust based on preference */
  height: auto;
}

.navbar-nav .nav-link {
  font-size: 1rem;
  transition: color 0.3s ease-in-out;
}

.navbar-nav .nav-link:hover {
  color: #f8b400 !important;
}

.btn {
  border-radius: 20px;
  padding: 6px 15px;
  font-size: 0.9rem;
}

@media (max-width: 1024px) {
  .navbar-logo {
    width: 90px;
  }

  .navbar-nav {
    text-align: center;
  }

  .btn {
    width: 100px;
  }
}
