.global-background {
  position: fixed; 
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: -1; 
  transition: background 0.3s ease;
}


.global-background.light {
  background: linear-gradient(
    135deg,
    #a0b4c9 0%,    
    #b3c8dc 40%,   
    #d4c6b1 75%,  
    #f0e8dc 100%   
  );
}



.global-background.dark {
  background: linear-gradient(
    135deg,
    #0a0f1d 0%,
    #1e4a52 40%,
    #825c28 75%,
    #bf9b63 100%
  );
}

.global-background.light * {
  color: #000 !important;
}

.global-background.dark * {
  color: #fff !important;
}

html, body {
  height: 100%;
  margin: 0;
  overflow-x: hidden;
}

section {
  position: relative;
  z-index: 2;
}
